<h1>These are your tasks</h1>
<div>
<% @tasks.each do |t| %>
<li>
    <%= check_box_tag("checkbox", t.id, t.completed ? true : false, disabled: true ) %>
    <%= link_to t.title, task_path(t) %>
    <%= link_to "Delete", delete_path(t.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      
</li>
<% end %>
</div>
<p><%= link_to "add a task", new_task_path %></p>

